body {
  background-image: url("../images/background-a-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  overflow: hidden;
}

@media (max-width: 900px) {
  body {
    background-image: url("../images/background-a-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
  }
}

@media (min-width: 901px) {
  body {
    background-image: url("../images/background-a-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
  }
}

.image2 {
  position: absolute;
  left: 26px;
  right: 23px;
  height: 741px;
}

@media only screen and (max-width: 900px) {
  .image2 {
    top: 71px;
  }
}
@media only screen and (min-width: 901px) {
  .image2 {
    position: relative;
    top: 80px;
    width: 539px;
  }
}

.image2 {
  margin-left: 0;

  @media (max-width: 600px) {
    margin-left: 0;
  }
  @media (min-width: 601px) {
    margin-left: 5%;
  }
  @media (min-width: 650px) and (max-width: 900px) {
    margin-left: 13%;
  }
  @media (min-width: 901px) {
    margin-left: 52%;
    top: 50px;
    height: 720px;
  }
  @media (min-width: 1800px) {
    display: none;
  }
}
